//
// Imports
//
@import "vendor/meyer-reset/reset";
@import "vendor/bootstrap/bootstrap-grid";
@import "variables";


//
// Styles
//
body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/saas-rev-background-img-1.jpg);
    background-position: 50% 50%;
}

a{
    text-decoration: none;
    color: $white;
    &:hover,&:visited, &:active {
        color: $white;
       text-decoration: none;
    }
}

.section-title{
    font-size: 45px;
    color: $auxiliar;
    text-transform: capitalize;
    font-family: $family, sans-serif;
}
nav {
    position: relative;

    ul {
        display: inline-flex;
        float: right;
        padding-right: 50px;
        margin-top: 40px;
    }

    li {
        cursor: pointer;
        list-style-type: none;

        a {
            padding: 20px;
            font-family: $family, sans-serif;
            font-size: 13.5px;
            letter-spacing: .085em;
            line-height: 23px;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

// Buttons
.rm-btn{ // Read More
    padding: 12px 28px;
    border-radius: 4em;
    border: 1px solid transparent;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 2em;
    font-weight: 500;
    letter-spacing: .125em;
}
.orng-btn{
    background-color:$second;
    &:hover{
        box-shadow: rgba(255,138,115,0.5) 0px 10px 25px;
    }
}

.dark-bl-btn{
    background-color:$primary;
    &:hover{
        box-shadow: rgba(85,128,255,0.5) 0px 10px 25px;
    }
}

.light-bl-btn{
    background-color:$accent;
    &:hover{
        box-shadow: rgba(85,128,255,0.5) 0px 10px 25px;
    }
}

// end 