body {
  padding: 80px;
  background: white !important;
}

.seciton-desc {
  font-size: 20px;
  line-height: 33px;
  margin-top: 16px;
  color: #716c80;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}

.emtpy-space {
  height: 50px;
}

.fly-blocks-holder .fly-block {
  position: absolute;
  border-radius: 10px;
}
.fly-blocks-holder .fly-fast {
  z-index: 10;
  box-shadow: #e7ecfc -10px 10px 35px 5px;
}
.fly-blocks-holder .fly-slow {
  z-index: 5;
}

#fly-block-big-2 {
  background: url("../../public/images/home-7-img-4.jpg") no-repeat center/cover;
  left: 10px;
  box-shadow: #e7ecfc 0px 10px 35px 5px;
}

#fly-block-sm-2 {
  background: url("../../public/images/home-7-img-3.jpg") no-repeat center/cover;
  box-shadow: #e7ecfc 10px 10px 35px 5px;
  right: 20px;
}

#fly-block-big-1 {
  background: url("../../public/images/home-7-img-2.jpg") no-repeat center/cover;
  right: 5px;
  box-shadow: #e7ecfc 10px 10px 35px 5px;
}

#fly-block-sm-1 {
  background: url("../../public/images/home-7-img-1.jpg") no-repeat center/cover;
  left: 25px;
}

@media (max-width: 575px) {
  .fly-blocks-holder {
    width: 510px;
    height: 200px;
  }

  .fly-fast {
    width: 140px;
    height: 160px;
  }

  .fly-slow {
    width: 210px;
    height: 150px;
  }

  #fly-block-big-2 {
    top: -50px;
  }

  #fly-block-sm-2 {
    top: 20px;
  }

  #fly-block-big-1 {
    top: 40px;
  }

  #fly-block-sm-1 {
    top: 110px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }

  .fly-blocks-holder {
    width: 810px;
    height: 400px;
  }

  .fly-fast {
    width: 285px;
    height: 330px;
  }

  .fly-slow {
    width: 445px;
    height: 315px;
  }

  #fly-block-big-2 {
    top: -30px;
  }

  #fly-block-sm-2 {
    top: 10px;
  }

  #fly-block-big-1 {
    top: 15px;
  }

  #fly-block-sm-1 {
    top: 80px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .fly-blocks-holder {
    width: 810px;
    height: 500px;
  }

  .fly-fast {
    width: 350px;
    height: 400px;
    top: 20px;
  }

  .fly-slow {
    width: 540px;
    height: 385px;
  }

  #fly-block-big-2 {
    top: -10px;
  }

  #fly-block-sm-2 {
    top: 50px;
  }

  #fly-block-big-1 {
    top: 30px;
  }

  #fly-block-sm-1 {
    top: 110px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }

  .fly-blocks-holder {
    width: 1000px;
    height: 600px;
  }

  .fly-fast {
    width: 430px;
    height: 500px;
  }

  .fly-slow {
    width: 670px;
    height: 475px;
  }

  #fly-block-big-2 {
    top: 10px;
  }

  #fly-block-sm-2 {
    top: 90px;
  }

  #fly-block-big-1 {
    top: 0;
  }

  #fly-block-sm-1 {
    top: 100px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }

  .fly-fast {
    width: 285px;
    height: 330px;
    top: 20px;
  }

  .fly-slow {
    width: 445px;
    height: 315px;
  }

  #fly-block-big-2 {
    top: -20px;
  }

  #fly-block-sm-2 {
    top: 60px;
  }

  #fly-block-big-1 {
    top: -40px;
  }

  #fly-block-sm-1 {
    top: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
